{% extends "base.html" %}

{% block title %}Esqueceu a Senha{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="main-login">
    <div class="left-login">
        <h1>Redefinir Senha</h1>
    </div>
    <div class="right-login">
        <div class="card-login">
<form method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <div class="textfield">
        <label for="email">E-mail:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <p style="text-align: center; margin-top: 10px;">
        Lembrou a senha? <a href="{{ url_for('login') }}" style="color: #00ff88;">Faça Login</a>
    </p>
    <button type="submit" class="btn-login">Enviar link</button>
</form>
            {% if reset_link %}
                <p style="text-align: center; margin-top: 20px;">Link para redefinir a senha:</p>
                <a href="{{ reset_link }}" style="display: block; text-align: center; font-weight: bold;">{{ reset_link }}</a>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}
